* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
  color: #cdd6f4;
}

.bar-container {
  background-color: rgba(30, 30, 46, 0.8);
  padding: 0px 10px;
  border-radius: 20px;
}

.music-art {
  padding: 10px 10px;
  border-radius: 50px;
}

.clock-widget {
  padding: 5px 5px;
}

.workspaces-box {
  padding: 5px 5px;
}

.workspace-button {
  padding: 0 5px;
  margin: 0 0px;
  color: #a8dcd9;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #60435f;
  }
}

.workspace-button.occupied {
  color: #cad3f5;
}

.workspace-button.focused {
  color: #8aadf4;
}
