@import '/home/saeed/.cache/wal/colors-waybar.css';

@define-color bg @background;
@define-color fg @foreground;
@define-color textcolor @cursor;

* {
	border: none;
	border-radius: 10;
	font-family: "JetbrainsMono Nerd Font";
	font-size: 15px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	border-radius: 10px;
	transition: none;
	color: transparent;
	background: transparent;
}

#workspaces {
	border-radius: 0px;
	font-size: 4px;
	margin-bottom: 6px;
	background: @bg;
	transition: none;
}

#workspaces button {
	transition: none;
	background: transparent;
	font-size: 16px;
	border-radius: 2px;
}

#workspaces button.active {
	color: @color6;
	border-bottom: 2px solid @fg;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: @color3;
    border-color: @color1;
    color: @color1;
}

#workspaces button.focused:hover {
    color: @color1;
}

#network {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: @color0;
	background: @color5;
}

#pulseaudio {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: @color0;
	background: @color3;
}

#battery {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: @color0;
	background: @color6;
}

#battery.charging, #battery.plugged {
	color: @color0;
    background-color: #b5e48c;
}

#battery.critical:not(.charging) {
    background-color: @color6;
    color: @color0;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @color1;
        color: @color6;
    }
}

#backlight {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: @color0;
	background: @color2;
}

#clock {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: @color0;
	background: @color10;
}

#memory {
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 6px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: @color0;
	background: @color13;
}

#cpu {
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 6px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: @color0;
	background: @color12;
}

#temperature {
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 6px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: @color0;
	background: @color12;
}

#tray {
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 6px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: @color6;
	background: @color0;
}

#custom-launcher {
	font-size: 24px;
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: #1793d1;
	background: @color0;
}

#custom-suspend {
	font-size: 20px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 0px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: @color0;
	background: @color1;
}

#custom-power {
	font-size: 20px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 2.5px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: @color0;
	background: @color1;
}

#custom-wallpaper {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: @color0;
	background: @color4;
}

#custom-updates {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	border-radius: 10px;
	transition: none;
	color: @color0;
	background: @color3;
}
